body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    margin-bottom: 0px;
}

.container-fluid {
    background-image: url("../../assets/images/concrete-texture.png");
}

.panel-wrapper {
    width: 80%;
    margin: 0 auto;
}

#top-panel {
    margin-top: 20px;
}

#train-form {
    margin-top: 15px;
}

.train-time {
    width: 75px;
    display: inline-block;
}

.form-group {
    margin: 0px 15px 0px 15px;
}

#submit-button {
    margin-bottom: 15px;
    margin-left: 15px;
}